{% extends 'login/base.html'%}
{% block content %}
   
       <form >
           {% csrf_token %}
            <h1>{{ title }}</h1>

            <div class="form-field">
                <input id="username" class="input-field" type="text" placeholder="User Name" name="username" >
            </div>
            
            <div class="form-field">
                <input id="password" class="input-field" type="password" placeholder="Password" name="password" >
            </div>

            <div class="form-field flex">
                <div class="flex1">
                    <a class="link" href="{% url 'user_register' %}">Don't have Account?</a>
                    <a class="link" href="{% url 'reset_link' %}">Forgot Password</a>
                </div>
                <div class="flex2 ">                
                    <button  id="login-btn" class="input-field btn" type="submit">Submit</button>
                </div>
            </div>
        </form> 
{% endblock %}

