{% extends 'login/base.html' %}
{% block content %}
<form action="" method="post" id="login-form"><input type="hidden" name="csrfmiddlewaretoken" value="7eRwDDhlyQME3siMMHjYVZYRnRJVg5NfE9b3pNsFx6vIMFPDkYmiLFfDhPisR4z3">
  
    {% csrf_token %}
     </div>
     <div class="form-row">
    
        <label class="required" for="id_password">Email:</label> <input type="email" name="email" value = {{ user_email }} readonly required id="id_password">
        
    
    </div>
    <div class="form-row">
    
        <label class="required" for="id_password">Password:</label> <input type="password" name="password1" required id="id_password">
       
    </div>
    <div class="form-row">
    
        <label class="required" for="id_password">Confirm Password:</label> <input type="password" name="password2" required id="id_password">
       
    </div>
   
    <div class="submit-row">
        <label>&nbsp;</label><input type="submit" value="Submit">
    </div>
</form>
</div>

{% endblock content%}
