{% extends 'login/base.html'%}
{% block content %}
<h1>{{ title }}</h1>
<form>
    {% csrf_token %}
    <div class="form-field ">

        <input id="email" class="input-field margin" type="email" placeholder="Email" name="email" value = {{ user_email }} readonly>
    </div>
    <div class="form-field">
                    
        <input id="password1" class="input-field" type="password" placeholder="New Password" name="password1" required>

    </div>

    <div class="form-field">

        <input id="password2" class="input-field" type="password" placeholder="Confirm Password" name="password2"  required>

    </div>
    <div class="form-field flex">
        
        <div class="flex2 ">                
            <button  id="password-btn" class="input-field btn" type="submit">Submit</button>
        </div>
    </div>
</form>
{% endblock %}