body{
    height: 100%;
    width: 100%;
    /* background-image: url('/static/login/images/2927262.jpg'); */
    background-repeat: no-repeat;
}
.container{
    position:relative;
    border:3px solid rgba(126, 123, 123, 0.904);
    border-radius: 5%;
    width: 35%;
    height:80%; 
    margin:15% auto;
    
    /* display: flex; */
    /* flex-direction: col-reverse; */  
    /* justify-content: stretch; */
    
}
h1{
    text-align: center;
    font-family: monospace;
    font-size:2vw;
}

.form-field{
    
    text-align: center;
    margin: 4% auto;
    
}

.input-field{

    width:80%;
    font-size: 1.25em;
    font-family: monospace;
    padding-left: 5%;
    border: 1.5px solid rgb(126, 123, 123);
    color: rgb(7, 7, 7);
    border-radius: 5px;
    padding:10px;
    /* background-color: gray; */
}

.btn{
    
    width:35%;
    text-align:center;
    font-size:1.2vw;
    
}

.flex{
    display:flex;
    /* flex-direction: column; */
    align-items: baseline;
}

.link{
    align-items: baseline;
    margin-left:25%;
    
}

.flex1{
    flex-basis:30em;
    /* padding:5px; */
    align-self: flex-start;
    justify-content: center;
}

.flex2{
    flex-basis: 40em;
    align-self: center;
}

/* .margin{
    margin-left:50%;
} */


